  ul{
    padding: 0;
   list-style:none;
 }
  .number_list{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
  }
  ul li{
    width:32%;
    height:60px;
    float: left;
    text-align: center;
    border:1px solid #DCDCDC; 


  }
  .rmLeftBorder{
     border-left:none; 
  }
   .rmRightBorder{
     border-right:none; 
  }
   .rmBottomBorder{
     border-bottom:none; 
  }
  .rmTopBorder{
     border-top:none; 
  }
  .gray{
    background-color: #D3D3D3;
  }
  li button{
    width:100%;
     height:60px;
    font-size: 40px;
    outline: none;
    border:none;
    background: #FFFFFF;

  }